form.private-topic-form,
form.topic-form {
  &.is-compact {
    label {
      height: 0;
      visibility: hidden;
      margin: 0;
    }

    input {
      margin: 0;
    }

    .private_users,
    .content,
    .submit {
      height: 0;
      visibility: hidden;
    }
  }

  &.is-expanded {
    label {
      height: auto;
      visibility: visible;
      margin: auto;
    }

    input {
      margin: auto;
    }

    .private_users,
    .content,
    .submit {
      height: auto;
      visibility: visible;
    }
  }
}

.topic-updated-by {
  abbr {
    &::before { content: 'updated '; }
    &::after  { content: ' by '; }
  }
}

.topic-posts-count {
  float: right;
  background: lighten(#c4c4c4, 10%);
  width: 2em;
  height: 2em;
  color: white;
  text-align: center;
  border-radius: 50%;
  line-height: 2em;
  position: relative;
}

section.topic {
  cite {
    font-size: 12px;

    abbr::before { content: "started " }
    abbr::after { content: " by " }
  }
}
