.is-compact {
  label {
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }

  input {
    margin: 0;
  }

  .private_users,
  .content,
  .submit {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  li {
    margin-bottom: 0;
  }
}

.is-expanded {
  label {
    height: auto;
    margin-bottom: $small-spacing / 2;
    opacity: 1;
    visibility: visible;
  }

  .private_users,
  .content,
  .submit {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
