@import "neat-helpers";

$grid-columns: 12;
$max-width: em(900);

// Neat Breakpoints
// $medium-screen: em(640);
// $large-screen: em(860);
// $medium-screen-up: new-breakpoint(min-width $medium-screen 4);
// $large-screen-up:  new-breakpoint(min-width $large-screen 8);

$visual-grid: false;
$visual-grid-color: blue;
$visual-grid-index: front;
$visual-grid-opacity: 0.05;

// breakpoints
$tablet: new-breakpoint(max-width 700px 8);
$mobile: new-breakpoint(max-width 400px 4);
