<%= form_tag('/sessions', class: 'thredded--main-container') do %>
  <ul class="thredded--form-list">
    <li><%= text_field_tag 'name', 'Joe', placeholder: 'Name' %></li>
    <li><label><%= check_box_tag 'admin', '1', true %> Admin</label></li>
    <li><%= submit_tag 'Sign in', class: 'thredded--form--submit' %></li>
  </ul>
<% end %>
