.user-navigation {
  font-size: em(14);
  margin-bottom: 1rem;
  text-align: center;

  @include media(rem(600)) {
    margin-bottom: 0;
    margin-top: $large-spacing;
    text-align: right;
  }

  li {
    display: inline-block;
    margin-right: $base-spacing;

    &:last-child {
      margin-right: 0;
    }

    &.user-navigation--search {
      @include media(max-width rem(600)) {
        display: block;
        margin-bottom: 0.5rem;
        margin-right: 0;
      }
    }
  }

  a {
    color: lighten($base-font-color, 30%);
  }

  &--search {
    label {
      display: none;
    }

    input[type="search"] {
      @include transition();
      box-shadow: none;
      font-size: rem(14);
      text-align: center;
      width: 100%;

      @include media(rem(600)) {
        border-color: transparent;
        display: inline-block;
        margin-bottom: 0;
        min-width: em(190, 14);
        text-align: left;
        width: auto;

        &:focus {
          @include transition();
          min-width: em(290, 14);
        }
      }

      &:hover {
        border-color: $base-border-color;
      }

      &:focus {
        border-color: $action-color;
      }
    }

    input[type="submit"] {
      display: none;
    }
  }
}
