.currently-online {
  @include position(fixed, null 0 0 null);
  background-color: $base-border-color;
  padding: $base-spacing;
  width: rem(260);
}

.currently-online--title {
  margin-bottom: $base-spacing;
}

.currently-online--avatar {
  @include size(rem(28));
  background-color: $base-font-color;
  border-radius: 50%;
  display: inline-block;
  margin-right: $small-spacing;
  vertical-align: middle;
}

.currently-online--user {
  padding: $small-spacing 0;
}
