.topic-navigation {
  float: right;


  li {
    display: inline-block;
    margin-right: $base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    padding-bottom: $base-spacing;
    color: lighten($base-font-color, 10%);

    &:hover {
      color: $action-color;
    }
  }

  &--active {
    border-bottom: 1px solid $action-color;
    margin-bottom: -2px;
  }

  &--unread {
    color: #fff;
    background-color: $action-color;
    border-radius: 10px;
    font-size: rem(10);
    padding: 2px 5px;
    margin-left: $small-spacing;
    line-height: 1;
  }
}
