.topic-form {
  border-bottom: $base-border;
  margin-bottom: $large-spacing;
  padding-bottom: $small-spacing;

  li {
    @include transition();
    margin-bottom: $small-spacing;
  }

  label {
    @include transition();
  }
}

.admin-options {
  label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-right: $base-spacing;
  }
}
