db/schema*.rb
*.gemfile.lock
.bundle/
bin/*
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy/public/uploads
spec/dummy/db/schema.rb
tags
zeus.json
custom_plan.rb
