<div class="thredded--email">
  <figure class="thredded--email-post">
    <figcaption class="thredded--email-post--author">
      <%= t 'thredded.emails.message_notification.html.post_lead_html',
            user: @post.user.thredded_display_name,
            post_url: private_post_permalink_url(@post.id),
            topic_title: @post.postable.title %>
    </figcaption>
    <% cache [@post, 'content-onebox-placeholders'] do %>
      <%= render partial: 'thredded/private_posts/content',
                 locals: { post: @post, options: {onebox_placeholders: true} } %>
    <% end %>
  </figure>
  <hr/>
  <p>
    <%= t 'thredded.emails.message_notification.html.email_sent_reason_html',
          user: @post.postable.user.thredded_display_name,
          post_url: private_post_permalink_url(@post.id),
          topic_title: @post.postable.title %>
  </p>

  <p>
    <%= t 'thredded.emails.message_notification.html.unsubscribe_instructions_html',
          preferences_url: edit_preferences_url %>
  </p>
</div>
