<%= form_tag search_path(messageboard),
             method: 'get',
             class: 'thredded--form thredded--navigation--search thredded--navigation--search-topics' do %>
  <%= label_tag :q, t('thredded.search.form.label') %>
  <%= text_field_tag :q, @query,
                     type:        'search',
                     required:    true,
                     # If there are no results the user will likely want to change the query, so auto-focus.
                     autofocus:   @query.presence && !@topics.presence,
                     placeholder: t('thredded.search.form.placeholder') %>
  <button type="submit"><%= t 'thredded.search.form.btn_submit' %></button>
<% end %>
