<div class="thredded--messageboard--meta">
  <% if messageboard.locked? %>
    <span class="thredded--messageboard--meta--locked"
          title="<%= t('thredded.messageboard.form.locked_notice') %>">
      <%= inline_svg('thredded/lock.svg', class: 'thredded--messageboard--meta--icon') %>
    </span>
  <% end %>
  <h3 class="thredded--messageboard--meta--counts">
    <%= t 'thredded.messageboard.topics_and_posts_counts',
          topics_count: number_with_delimiter(messageboard.topics_count),
          posts_count: number_with_delimiter(messageboard.posts_count) %>
  </h3>
</div>
