<% content_for :thredded_page_title, t('thredded.nav.edit_messageboard') %>
<% content_for :thredded_page_id, 'thredded--messageboard-edit' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li class="thredded--navigation-breadcrumbs--item-no-link">
      <%= t('thredded.nav.edit_messageboard') %>
    </li>
  </ul>
<% end %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'form', messageboard: @messageboard %>
  </section>
<% end %>
