<% content_for :thredded_page_title, 'Messageboards' %>
<% content_for :thredded_page_id, 'thredded--messageboards-index' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li>
      <%= link_to 'All Message Boards', messageboards_path %>
    </li>
  </ul>
<% end %>
<%= thredded_page do %>
  <section class="thredded--main-section thredded--messageboards">
    <%= render @messageboards %>
  </section>

  <% if current_ability.can? :create, Thredded::Messageboard %>
    <div class="thredded--messageboard--create">
      <%= link_to 'Create a New Messageboard', new_messageboard_path, class: 'button' %>
    </div>
  <% end %>
<% end %>
