<% content_for :thredded_page_title, t('thredded.messageboard.create') %>
<% content_for :thredded_page_id, 'thredded--messageboards-new' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li class="thredded--navigation-breadcrumbs--item-no-link">
      <%= t('thredded.messageboard.create') %>
    </li>
  </ul>
<% end %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'form', messageboard: @new_messageboard %>
  </section>
<% end %>
