<% content_for :thredded_page_title, 'Messageboards' %>
<% content_for :thredded_page_id, 'thredded_messageboards_index' %>
<% content_for :thredded_javascript do %>
  <script>
    thredded = new Thredded;
    thredded.timestamps.init();
  </script>
<% end %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="navigation-breadcrumbs">
    <li>
      <%= link_to 'All Message Boards', messageboards_path %>
    </li>
  </ul>
<% end %>

<%= content_tag :section, class: 'main-section messageboards' do %>
  <%= render @messageboards %>
<% end %>

<div class="messageboard--create">
  <%= button_to 'Create a New Messageboard',
    new_messageboard_path,
    method: 'get'
  %>
</div>
