<!DOCTYPE html>
<html>
<head>
  <title>Thredded</title>
  <%= stylesheet_link_tag    "thredded/application", :media => "all" %>
  <%= javascript_include_tag "thredded/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
