body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

div.container {
  @include outer-container;

  div.main {
    @include span-columns(9);

    @include media($tablet) {
      @include span-columns(8);
    }
  }

  > aside {
    @include span-columns(3);
    @include omega();

    @include media($tablet) {
      display: none;
    }
  }
}

.main-section {
  margin-bottom: 5%;
}
