.messageboards {
}

.messageboard {
  padding: 0.75em;

  header {
    margin: 0 0 0.75em;
  }

  h2 {
    margin: 0;
  }

  p {
    font-size: .8em;
  }

  .messageboard-meta {
    font-size: .7em;
    color: lighten(black, 80%);
  }

  footer {
    font-size: .7em;
    color: lighten(black, 80%);
    font-style: italic;

    p {
      margin: 0;
    }
  }
}
