<li>
  <%= form.label :content, content_label %>
  <%= render 'thredded/posts_common/form/before_content', form: form %>
  <%= form.text_area :content, { rows: 5, required: true }  %>
  <%= render 'thredded/posts_common/form/after_content', form: form %>
</li>
