<%= form_for (post.private_topic_post? ? [topic, post] : [messageboard, topic, post]), as: :post,
             html: { class: 'thredded--form thredded--post-form', 'data-thredded-post-form' => true } do |form| %>
  <ul class="thredded--form-list">
    <%= render 'thredded/posts/content_field', form: form %>

    <li>
      <%= form.submit button_text, class: 'thredded--form--submit' %>
    </li>
  </ul>
<% end %>
