.navigation {
  position: relative;
}

.search-bar {
  @include span-columns(12);
  background-color: white;
  display: block;
  font-size: 1em;
  height: 44px;
  position: absolute;
  width: 100%;

  form {
    display: inline-block;
    width: 100%;
  }

  label {
    display: none;
  }

  input[type="submit"] {
    display: none;
  }

  input[type="search"] {
    margin: 5px 1%;
    width: 98%;
    height: 34px;
  }
}
