article.post {
  padding: 0.75em;

  > header {
    position: relative;
    height: 30px;

    cite {
      font-size: .7em;
      margin-left: 10px;
    }
  }
}

.post-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  float: left;
}

.post-content {
  margin-left: 40px;
  font-size: .8em;
}

.post-form {
  background: lighten(black, 90%);

  label {
    display: none;
  }
}
