<% content_for :thredded_page_title, 'Messageboard Preferences' %>
<% content_for :thredded_page_id, 'thredded_preferences' %>

<div class="preference form">
  <h1>Update Preferences For <%= messageboard.name %></h1>

  <%= render 'form', messageboard: messageboard, preference: preference %>
</div>
