.chosen-container {
  .chosen-choices {
    border: $form-border;
    padding: $small-spacing;
    box-shadow: $form-box-shadow;
    background-image: none;

    li.search-field {
      float: none;

      input[type="text"] {
        font-family: $base-font-family;
        font-size: 1rem;
        width: auto;
      }
    }
  }

  .chosen-drop {
    border-color: darken($base-border-color, 5%);
    box-shadow: 0 1px 1px $base-border-color;
  }

  .chosen-results li.active-result {
    padding: $small-spacing;

    &.highlighted {
      background: $action-color;
    }
  }
}
