&--currently-online {
  @include position(fixed, null 0 -1.25rem null);
  background-color: $thredded-base-border-color;
  padding: $thredded-base-spacing;
  width: 16.25rem; // 260px

  @include thredded-media-mobile {
    display: none;
  }

  &.thredded--is-expanded {
    @include position(fixed, null 0 0 null);
  }

  &--title {
    @extend %thredded--heading;
    margin-bottom: $thredded-base-spacing;
  }

  &--avatar {
    background-color: $thredded-base-font-color;
    border-radius: 50%;
    display: inline-block;
    height: 1.75rem;
    margin-right: $thredded-small-spacing;
    vertical-align: middle;
    width: 1.75rem;
  }

  &--user {
    padding: $thredded-small-spacing 0;
  }

  &--users {
    @extend %thredded--list-unstyled;
    height: 0;
    visibility: hidden;
  }

  &.thredded--is-expanded &--users {
    height: auto;
    visibility: visible;
  }
}
