.thredded--currently-online {
  @include position(fixed, null 0 -1.25rem null);
  background-color: $base-border-color;
  padding: $base-spacing;
  width: rem(260);

  @include media($mobile) {
    display: none;
  }

  &.is-expanded {
    @include position(fixed, null 0 0 null);
  }

  &--title {
    margin-bottom: $base-spacing;
  }

  &--avatar {
    @include size(rem(28));
    background-color: $base-font-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: $small-spacing;
    vertical-align: middle;
  }

  &--user {
    padding: $small-spacing 0;
  }

  &--users {
    height: 0;
    visibility: hidden;
  }

  &.is-expanded &--users {
    height: auto;
    visibility: visible;
  }
}
