@mixin flash($font-color, $background-color) {
  color: $font-color;
  background: $background-color;
  border-color: $font-color;
  text-decoration: none;

  a {
    color: darken($font-color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($font-color, 90%);
    }
  }
}

&--flash-message {
  border: solid 1px;
  margin-bottom: $thredded-base-spacing;
  padding: $thredded-small-spacing;
  border-radius: 3px;
}

&--flash-message--success {
  @include flash($thredded-flash-font-success-color, $thredded-flash-background-success-color);
}

&--flash-message--error {
  @include flash($thredded-flash-font-error-color, $thredded-flash-background-error-color);
}

&--flash-message--notice {
  @include flash($thredded-flash-font-notice-color, $thredded-flash-background-notice-color);
}

&--flash-message--alert {
  @include flash($thredded-flash-font-alert-color, $thredded-flash-background-alert-color);
}
