// Used in both the topics list and the topic posts views.
%thredded--following-icon {
  fill: currentColor;
  display: inline-block;
  font-size: 1em;
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.4;
}

%thredded--not-following-icon {
  @extend %thredded--following-icon;
  opacity: 0.1;
}
