&--form-list {
  @extend %thredded--list-unstyled;

  &.on-top {
    border-bottom: $thredded-base-border;
    margin-bottom: $thredded-base-spacing * 1.5;
    padding-bottom: $thredded-small-spacing;
  }

  li {
    transition: all 0.15s ease-out 0s;
    margin-bottom: $thredded-small-spacing;
  }

  label {
    transition: all 0.15s ease-out 0s;
  }
}

&--form-list--admin-options {
  label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-right: $thredded-base-spacing;
  }
}

&--form-list--hint {
  color: lighten($thredded-base-font-color, 20%);
  display: inline-block;
  font-size: 0.875rem; // 14px
  margin-bottom: $thredded-small-spacing;
  position: relative;
  top: -($thredded-small-spacing / 2);
}
