&--form-list {
  &.on-top {
    border-bottom: $base-border;
    margin-bottom: $base-spacing * 1.5;
    padding-bottom: $small-spacing;
  }

  li {
    transition: all 0.15s ease-out 0s;
    margin-bottom: $small-spacing;
  }

  label {
    transition: all 0.15s ease-out 0s;
  }
}

&--form-list--admin-options {
  label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-right: $base-spacing;
  }
}

&--form-list--hint {
  color: lighten($base-font-color, 20%);
  display: inline-block;
  font-size: 0.875rem; // 14px
  margin-bottom: $small-spacing;
  position: relative;
  top: -($small-spacing / 2);
}
