ul.textcomplete-dropdown {
  background: inherit;
  border-color: $thredded-form-border-focus-color;
  border-top: $thredded-base-border;
  box-shadow: 0 1px 1px $thredded-form-border-focus-color;
  font-family: $thredded-base-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-base-line-height;
}

ul.textcomplete-dropdown {

  background: $thredded-form-background;
  padding: 4px;
  margin: 0;

  li.textcomplete-item {
    color: $thredded-text-color;
    list-style: none;

    &.active {
      background: $thredded-button-background;
      color: $thredded-button-color;
    }

    padding: $thredded-small-spacing;
  }

}


