.thredded--messageboards-group {
  margin-bottom: $thredded-base-spacing;
}

.thredded--messageboard {
  @extend %thredded--link;
  outline: 1px solid $thredded-base-border-color;
  display: block;
  margin-bottom: 1px;
  padding: $thredded-base-spacing;
  position: relative;

  &:hover {
    background-color: rgba($thredded-brand, 0.035);
  }

  &:active, &:focus {
    box-shadow: 0 0 3px $thredded-action-color;
    outline: 1px solid $thredded-action-color;
    z-index: 1;
  }
}

.thredded--messageboard--title {
  @extend %thredded--heading;
  display: inline-block;
  float: left;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  margin-right: $thredded-small-spacing;
  vertical-align: baseline;
}

.thredded--messageboard--title,
.thredded--messageboard--meta,
.thredded--messageboard--description {
  margin-bottom: $thredded-small-spacing / 2;
}

.thredded--messageboard--description,
.thredded--messageboard--meta,
.thredded--messageboard--byline {
  font-size: 0.875em;
}

.thredded--messageboard--meta {
  @extend %thredded--heading;
  color: $thredded-secondary-text-color;
  display: inline-block;
  font-weight: normal;
  vertical-align: baseline;
}

.thredded--messageboard--description {
  @extend %thredded--paragraph;
  clear: both;
  color: $thredded-text-color;
  &:empty {
    margin: 0;
  }
}

.thredded--messageboard--byline {
  @extend %thredded--paragraph;
  color: $thredded-secondary-text-color;
  font-weight: normal;
  margin-bottom: 0;
}

.thredded--messageboards--actions {
  @extend %thredded--buttons-list;
  @media print {
    display: none;
  }
}

@supports (flex-wrap: wrap) {
  .thredded--messageboard {
    display: flex;
    flex-direction: column;
    &--header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &--meta {
      text-align: right;
    }
    &--byline,
    &--description {
      margin-top: auto;
    }
  }

  @if $thredded-messageboards-grid {
    @include thredded-media-desktop-and-up {
      $item-border-width: 1px;
      $item-padding-x: ($thredded-base-spacing * 0.8);
      $item-padding-y: $thredded-base-spacing;

      %thredded--messageboards-cell-flex {
        flex-basis: $thredded-messageboards-grid-item-flex-basis;
        flex-grow: 1;
      }

      .thredded--messageboards-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: $item-border-width;

        // Size incomplete last rows with up to two missing items.
        &::after, &::before {
          @extend %thredded--messageboards-cell-flex;
          content: "";
          margin-right: $item-border-width;
          padding: 0 $item-padding-x;
        }

        &::before {
          order: 1
        }
      }

      .thredded--messageboard {
        @extend %thredded--messageboards-cell-flex;
        margin-left: 1px;
        padding: $item-padding-y $item-padding-x;
      }

    }
  }
}
