.messageboard {
  border: $base-border;
  display: block;
  margin-bottom: $base-spacing;
  padding: $base-spacing;
  position: relative;

  header {
    margin-bottom: $small-spacing;
  }

  &:hover {
    background-color: lighten($blue, 40%);
  }
}

&--messageboard--title {
  display: inline-block;
  float: left;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: $small-spacing;
  vertical-align: baseline;
}

&--messageboard--meta {
  color: lighten($base-font-color, 30%);
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  vertical-align: baseline;
}

&--messageboard--description {
  clear: both;
  margin-bottom: $small-spacing / 2;
  color: $base-font-color;
}

&--messageboard--byline {
  color: lighten($base-font-color, 30%);
  font-size: 0.875em;
  font-weight: normal;
  margin-bottom: 0;
}

&--messageboard--create {
  text-align: center;
}
