.post {
  position: relative;
  margin-bottom: $large-spacing;
}

.post--avatar {
  @include size(rem(28));
  border-radius: 50%;
  display: inline-block;
  margin-right: $small-spacing;
  position: relative;
  top: 6px;

  @include media($max-width + 4em) {
    @include position(absolute, -0.5rem null null -3rem);
    @include size(rem(36));
  }
}

.post--user {
  display: inline-block;
  font-size: rem(18);
  line-height: 1.2;
  margin-right: $small-spacing;
  margin-bottom: 1.25rem;

  a {
    color: $base-font-color;
  }
}

.post--created-at {
  font-size: rem(14);
  color: lighten($base-font-color, 30%);
  display: inline-block;
}

.post--edit {
  font-size: rem(14);
}

.post--content {
  font-size: rem(17);
  line-height: 1.65;
}
