&--post {
  position: relative;
  margin-bottom: $thredded-large-spacing;
  @include thredded-media-mobile {
    margin-bottom: $thredded-base-spacing;
  }
}

&--post--avatar {
  border-radius: 50%;
  display: inline-block;
  height: 1.75rem; // 28px
  margin-right: $thredded-small-spacing;
  position: relative;
  top: 6px;
  width: 1.75rem; // 28px

  @media (min-width: $thredded-grid-container-max-width + 64px) {
    height: 2.25rem; // 36px
    left: -3rem;
    position: absolute;
    top: -0.5rem;
    width: 2.25rem; // 36px
  }
}

&--post--user {
  @extend %thredded--heading;
  display: inline-block;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  margin-right: $thredded-small-spacing;
  margin-bottom: 1.25rem; // 20px

  a {
    @extend %thredded--link;
    color: $thredded-text-color;
  }
}

&--post--created-at {
  @extend %thredded--paragraph;
  font-size: $thredded-font-size-small;
  color: $thredded-secondary-text-color;
  display: inline-block;
}

&--post--edit, &--post--delete {
  font-size: $thredded-font-size-small;
  @extend %thredded--link;
}

&--post--delete {
  margin-left: 0.4rem;
}

&--post--content {
  font-size: 1.063rem; // 17px
  line-height: 1.65;
  a {
    @extend %thredded--link;
  }
  p {
    @extend %thredded--paragraph;
  }
  hr {
    @extend %thredded--hr;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  table {
    @extend %thredded--table;
  }
}
