&--post-form {
  label {
    display: none;
  }

  &--wrapper {
    border-top: $base-border;
    margin-top: $base-spacing;
    padding-top: $large-spacing;
  }

  &--title {
    font-size: 1.25rem; // 20px
    margin-bottom: $base-spacing;
  }

  &--submit {
    margin-top: $small-spacing;
  }
}
