.thredded--post {
  position: relative;
  margin-bottom: $thredded-large-spacing;
  @include thredded-media-mobile {
    margin-bottom: $thredded-base-spacing;
  }
}

.thredded--post--dropdown--toggle {
  fill: currentColor;
  color: $thredded-action-color;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0.875rem 0.875rem 0.875rem 1.5rem;
  margin-right: -0.875rem;
  -webkit-tap-highlight-color: transparent;
}

.thredded--post--dropdown {
  position: relative;
  display: inline-block;
  float: right;
  cursor: pointer;
  @media print {
    display: none;
  }
}

.thredded--post--dropdown--actions {
  position: absolute;
  margin-top: -0.875rem;
  right: 0;
  background-color: $thredded-overlay-background-color;
  border-radius: 2px;
  overflow: hidden;
  min-width: 10rem;
  z-index: 1;
  cursor: pointer;
  box-shadow: $thredded-overlay-box-shadow;
  transform: scale(0);
  opacity: 0;
  transform-origin: 100% 0;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
  will-change: transform;
}

.thredded--post--dropdown--actions--item {
  font-size: $thredded-font-size-small;
  color: $thredded-text-color;
  text-decoration: none;
  padding: 1rem 0.75rem;
  display: block;
  white-space: nowrap;

  &:active,
  &:focus,
  &:hover {
    background-color: $thredded-action-color;
    color: $thredded-background-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.thredded--post--dropdown:hover .thredded--post--dropdown--actions {
  transform: scale(1);
  opacity: 1;
}

.thredded--post--dropdown:hover .thredded--post--dropdown--toggle {
  color: $thredded-action-hover-color;
}

.thredded--post--mark-as-unread {
  background: none;
  border: none;
}

.thredded--post--avatar {
  border-radius: 50%;
  display: inline-block;
  height: 1.75rem; // 28px
  margin-right: $thredded-inline-spacing;
  position: relative;
  top: 6px;
  vertical-align: baseline;
  width: 1.75rem; // 28px

  @include thredded-media-avatar-breakout {
    height: 2.25rem; // 36px
    left: -3rem;
    position: absolute;
    top: -0.5rem;
    width: 2.25rem; // 36px
  }
}

.thredded--post--topic {
  @extend %thredded--heading;
  font-size: $thredded-base-font-size * 1.25; // 24px
  line-height: 1.2;
  margin-bottom: $thredded-small-spacing / 2;
}

.thredded--post--user,
.thredded--post--topic,
.thredded--post--user-and-topic {
  @extend %thredded--heading;
  display: inline;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  margin-right: $thredded-inline-spacing;

  a {
    @extend %thredded--link;
  }
}

.thredded--post--user {
  a {
    color: $thredded-text-color;
  }
}

.thredded--post--created-at {
  @extend %thredded--paragraph;
  font-size: $thredded-font-size-small;
  color: $thredded-secondary-text-color;
  display: inline-block;
}

.thredded--post--content {
  font-size: 1.063rem; // 17px
  line-height: 1.65;
  word-break: break-word;
  a {
    @extend %thredded--link;
  }
  p {
    @extend %thredded--paragraph;
  }
  hr {
    @extend %thredded--hr;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  table {
    @extend %thredded--table;
  }
  blockquote {
    @extend %thredded--blockquote;
  }
  pre {
    overflow-x: auto;
  }

  &--spoiler {
    color: $thredded-spoiler-hidden-color;
    background-color: $thredded-spoiler-hidden-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $thredded-spoiler-shown-color;
    }
  }
}
