&--post-form {
  label {
    display: none;
  }

  &--wrapper {
    border-top: $thredded-base-border;
    margin-top: $thredded-base-spacing;
    padding-top: $thredded-large-spacing;
    @include thredded-media-mobile {
      padding-top: $thredded-base-spacing;
    }
  }

  &--title {
    @extend %thredded--heading;
    font-size: 1.25rem; // 20px
    margin-bottom: $thredded-base-spacing;
  }

  &--submit {
    margin-top: $thredded-small-spacing;
  }
}
