.thredded--post {
  position: relative;
  margin-bottom: $thredded-large-spacing;
  @include thredded-media-mobile {
    margin-bottom: $thredded-base-spacing;
  }
}

.thredded--post--avatar {
  border-radius: 50%;
  display: inline-block;
  height: 1.75rem; // 28px
  margin-right: $thredded-inline-spacing;
  position: relative;
  top: 6px;
  vertical-align: baseline;
  width: 1.75rem; // 28px

  @include thredded-media-avatar-breakout {
    height: 2.25rem; // 36px
    left: -3rem;
    position: absolute;
    top: -0.5rem;
    width: 2.25rem; // 36px
  }
}

.thredded--post--topic {
  @extend %thredded--heading;
  font-size: $thredded-base-font-size * 1.25; // 24px
  line-height: 1.2;
  margin-bottom: $thredded-small-spacing / 2;
}

.thredded--post--user,
.thredded--post--topic,
.thredded--post--user-and-topic {
  @extend %thredded--heading;
  display: inline;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  margin-right: $thredded-inline-spacing;

  a {
    @extend %thredded--link;
  }
}

.thredded--post--user {
  a {
    color: $thredded-text-color;
  }
}

.thredded--post--created-at {
  @extend %thredded--paragraph;
  font-size: $thredded-font-size-small;
  color: $thredded-secondary-text-color;
  display: inline-block;
}

.thredded--post--edit,
.thredded--post--delete {
  font-size: $thredded-font-size-small;
  @extend %thredded--link;
  @media print {
    display: none;
  }
}

.thredded--post--delete {
  margin-left: 0.4rem;
}

.thredded--post--content {
  font-size: 1.063rem; // 17px
  line-height: 1.65;
  word-break: break-word;
  a {
    @extend %thredded--link;
  }
  p {
    @extend %thredded--paragraph;
  }
  hr {
    @extend %thredded--hr;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  table {
    @extend %thredded--table;
  }
  blockquote {
    @extend %thredded--blockquote;
  }
  pre {
    overflow-x: auto;
  }

  &--spoiler {
    color: $thredded-spoiler-hidden-color;
    background-color: $thredded-spoiler-hidden-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $thredded-spoiler-shown-color;
    }
  }
}
