.thredded--post {
  position: relative;
  margin-bottom: $thredded-large-spacing;
  @include thredded-media-mobile {
    margin-bottom: $thredded-base-spacing;
  }
}

.thredded--post--dropdown--toggle {
  fill: currentColor;
  color: $thredded-action-color;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: 1.5rem;
}

.thredded--post--dropdown {
  position: relative;
  display: inline-block;
  float: right;
  text-align: right;
  cursor: pointer;
  @media print {
    display: none;
  }
}

.thredded--post--dropdown--actions {
  display: none;
  position: absolute;
  right: 0;
  background-color: $thredded-background-color;
  min-width: 10rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.thredded--post--dropdown--actions--item {
  font-size: $thredded-font-size-small;
  color: $thredded-text-color;
  //color: $thredded-action-color;
  text-decoration: none;
  //transition: $thredded-action-transition;
  padding: 1rem 0.75rem;
  display: block;
  white-space: nowrap;

  &:active,
  &:focus,
  &:hover {
    background-color: $thredded-action-color;
    color: $thredded-background-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.thredded--post--dropdown:hover .thredded--post--dropdown--actions {
  display: block;
}

.thredded--post--dropdown:hover .thredded--post--dropdown--toggle {
  color: $thredded-action-hover-color;
}

.thredded--post--mark-as-unread {
  background: none;
  border: none;
}

.thredded--post--avatar {
  border-radius: 50%;
  display: inline-block;
  height: 1.75rem; // 28px
  margin-right: $thredded-inline-spacing;
  position: relative;
  top: 6px;
  vertical-align: baseline;
  width: 1.75rem; // 28px

  @include thredded-media-avatar-breakout {
    height: 2.25rem; // 36px
    left: -3rem;
    position: absolute;
    top: -0.5rem;
    width: 2.25rem; // 36px
  }
}

.thredded--post--topic {
  @extend %thredded--heading;
  font-size: $thredded-base-font-size * 1.25; // 24px
  line-height: 1.2;
  margin-bottom: $thredded-small-spacing / 2;
}

.thredded--post--user,
.thredded--post--topic,
.thredded--post--user-and-topic {
  @extend %thredded--heading;
  display: inline;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  margin-right: $thredded-inline-spacing;

  a {
    @extend %thredded--link;
  }
}

.thredded--post--user {
  a {
    color: $thredded-text-color;
  }
}

.thredded--post--created-at {
  @extend %thredded--paragraph;
  font-size: $thredded-font-size-small;
  color: $thredded-secondary-text-color;
  display: inline-block;
}

.thredded--post--content {
  font-size: 1.063rem; // 17px
  line-height: 1.65;
  word-break: break-word;
  a {
    @extend %thredded--link;
  }
  p {
    @extend %thredded--paragraph;
  }
  hr {
    @extend %thredded--hr;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  table {
    @extend %thredded--table;
  }
  blockquote {
    @extend %thredded--blockquote;
  }

  &--spoiler {
    color: $thredded-spoiler-hidden-color;
    background-color: $thredded-spoiler-hidden-color;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $thredded-spoiler-shown-color;
    }
  }
}
