&--main-container .select2-container {
  width: 100%;

  > .select2-choices {
    background-image: none;
    border: $thredded-form-border;
    box-shadow: $thredded-form-box-shadow;
    min-height: unset;
    padding: $thredded-small-spacing;

    > .select2-search-choice {
      margin: 0 6px 0 0;
    }

    > .select2-search-field {
      > [type="text"] {
        font-family: $thredded-base-font-family;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}

&--select2-drop {
  border-color: darken($thredded-base-border-color, 5%);
  box-shadow: 0 1px 1px $thredded-base-border-color;
  font-family: $thredded-base-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-base-line-height;

  .select2-result {
    &.select2-highlighted {
      background: $thredded-action-color;
    }

    > .select2-result-label {
      padding: $thredded-small-spacing;
    }
  }
}
