&--topics--topic {
  margin-bottom: $thredded-base-spacing;
  position: relative;

  @media (max-width: $thredded-grid-container-max-width) {
    margin-left: 3rem;
  }
}

&--topics--title {
  @extend %thredded--heading;
  display: inline;
  font-size: 1.125rem; // 18px
  line-height: 1.5;

  a {
    @extend %thredded--link;
    color: $thredded-base-font-color;
    display: inline;

    &:hover {
      color: $thredded-action-color;
    }
  }
}

&--topics--categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 1rem;

  li {
    font-size: .5rem;
    display: inline-block;
    color: $thredded-base-font-color;
    background-color: lighten($thredded-base-font-color, 55%);
    box-shadow: inset 0 -1px 0 lighten($thredded-base-font-color, 40%);
    padding: 1px 6px;
    border-radius: 2px;
    text-transform: lowercase;
    letter-spacing: 1px;
    vertical-align: bottom;
  }
}

&--topics--started-by,
&--topics--updated-by {
  color: lighten($thredded-base-font-color, 30%);
  font-size: $thredded-font-size-small;
  font-style: normal;

  a {
    @extend %thredded--link;
    color: lighten($thredded-base-font-color, 20%);

    &:hover {

      color: $thredded-action-color;
    }
  }

  abbr {
    &::after  {
      content: ' by ';
    }
  }
}

&--topics--updated-by {
  margin-right: $thredded-small-spacing;

  abbr {
    &::before {
      content: 'updated ';
    }
  }
}

&--topics--started-by {
  display: none;

  abbr {
    &::before {
      content: 'started ';
    }
  }
}

&--topics--posts-count {
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-weight: 900;
  height: 2rem;
  left: -3rem;
  line-height: 2;
  margin-right: $thredded-base-spacing;
  position: absolute;
  text-align: center;
  top: -0.25rem;
  width: 2rem;
}

&--topic--unread > &--topics--posts-count {
  background: $thredded-action-color;
}

&--topic--read > &--topics--posts-count {
  background: lighten($thredded-base-font-color, 45%);
}
