&--topic-header {
  margin-bottom: $thredded-large-spacing;
  margin-top: $thredded-base-spacing;
  @include thredded-media-mobile {
    margin-bottom: $thredded-small-spacing;
    margin-top: 0;
  }
}

&--topic-header--title {
  @extend %thredded--heading;
  font-size: 1.5rem; // 24px
  line-height: 1.2;
  margin-bottom: $thredded-small-spacing / 2;
}

&--topic-header--started-by {
  font-size: $thredded-font-size-small;
  color: $thredded-secondary-text-color;
  font-style: normal;
  a {
    @extend %thredded--link;
  }
}

&--topic-header--edit-topic {
  @extend %thredded--link;
  font-size: $thredded-font-size-small;
  margin-left: 0.4rem;
}
&--topic-follow-info {
  float: right;
  color: $thredded-secondary-text-color;
  font-size: $thredded-font-size-small;
  font-style: normal;
  max-width: 60%;
  text-align: right;
  p {
    margin: 0;
  }
  form {
    display: inline-block;
    input[type=submit] {
      background:none;
      border:none;
      padding:0;
      font: inherit;
      cursor: pointer;
      @extend %thredded--link;
    }
  }
}

&--topic-followers{
  font-size: $thredded-font-size-small;
  color: $thredded-secondary-text-color;
}

&--svg-definitions {
  display:none;
}

@mixin thredded-following-icon-mixin {
  svg {
    fill: currentColor;
    display: inline-block;
    font-size: 1em;
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 0;
    right: -1.6rem;
    opacity: 0.4;
  }
}
@mixin thredded-not-following-icon-mixin {
  @include thredded-following-icon-mixin;
  svg {
    opacity: 0.1;
  }
}
&--topic-following {
  &.thredded--topic-unread, &.thredded--topic-read {

    h1.thredded--topics--title {
      @include thredded-following-icon-mixin;
    }
  }
}
&--topic-notfollowing {
  .thredded--topic-follow-icon {
    @include thredded-not-following-icon-mixin;
  }
}
&--topic-following {
  .thredded--topic-follow-icon {
    @include thredded-following-icon-mixin;
  }
}
&--topic-following {
  .thredded--topic-follow-info {
    position: relative;
    @include thredded-following-icon-mixin;
  }
}

&--topic-read {
  h1.thredded--topics--title a {
    font-weight: lighter;
  }
}
&--topic-unread {
  h1.thredded--topics--title a {
    font-weight: bold;
  }
}
