.topic-header {
  margin-bottom: $large-spacing * 1.5;
}

.topic-header--title {
  font-size: rem(24);
  line-height: 1.2;
  margin-bottom: $small-spacing / 2;
}

.topic-header--started-by {
  font-size: rem(14);
  color: lighten($base-font-color, 30%);
  font-style: normal;
}
