<ul class="thredded--navigation-breadcrumbs">
  <li><%= link_to t('thredded.nav.all_messageboards'), messageboards_path %></li>
  <% if messageboard_or_nil.try(:persisted?) %>
    <li><%= link_to messageboard.name, messageboard_topics_path(messageboard) %></li>
  <% end %>
</ul>
