<% if (users = active_users).present? %>
  <aside data-thredded-currently-online class="thredded--currently-online">
    <header>
      <h3 class="thredded--currently-online--title open">
        <%= t "thredded.users.currently_online" %>
      </h3>
    </header>

    <ul class="thredded--currently-online--users">
      <% users.each do |user| %>
        <li class="thredded--currently-online--user">
          <a class="thredded--link" href="<%= user_path(user) %>">
            <img class="thredded--currently-online--avatar" src="<%= Thredded.avatar_url.call(user) %>" alt=""/>
            <%= user.thredded_display_name %>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>
