<aside class="currently-online">
  <header>
    <h3 class="currently-online--title open">Currently Online</h3>
  </header>

  <ul class="currently-online--users">
    <% active_users.each_with_index do |user, index| %>
      <li class="currently-online--user">
        <img src="http://api.adorable.io/avatars/40/noreply+<%= index %>@thredded.com.png"
          alt="" class="currently-online--avatar" />

        <%= user %>
      </li>
    <% end %>
  </ul>
</aside>
