<% [:success, :error, :notice, :alert].each do |key| %>
  <% if flash[key] %>
    <div class="thredded--flash-message thredded--flash-message--<%= key %>" data-thredded-flash-message>
      <%= flash[key] %>
    </div>
  <% end %>
<% end %>
