<h2>
  <%=  pluralize Thredded::Stats.messageboards_count, 'messageboard' %>,
  <%=  pluralize Thredded::Stats.topics_count, 'topic' %>, and
  <%=  pluralize Thredded::Stats.posts_count, 'post' %>
</h2>

