<div class="thredded--main-navigation">
  <%= yield :thredded_breadcrumbs %>

  <ul class="thredded--topic-navigation">
    <li class="thredded--topic-navigation--private">
      <%= link_to private_topics_path do %>
        <%= t('thredded.nav.private_topics') %>
        <% if unread_private_topics_count > 0 -%>
          <span class="thredded--topic-navigation--unread">
            <%= unread_private_topics_count %>
          </span>
        <% end -%>
      <% end -%>
    </li>
  </ul>
</div>
