<div class="thredded--main-navigation">
  <%= yield :thredded_breadcrumbs %>

  <ul class="thredded--topic-navigation">
    <% if messageboard.try(:persisted?) -%>
      <li class="thredded--topic-navigation--public">
        <%= link_to 'Topics', messageboard_topics_path(messageboard) %>
      </li>
    <% end -%>

    <li class="thredded--topic-navigation--private">
      <%= link_to private_topics_path do %>
        Private Topics
        <% if unread_private_topics_count > 0 -%>
          <span class="thredded--topic-navigation--unread">
            <%= unread_private_topics_count %>
          </span>
        <% end -%>
      <% end -%>
    </li>
  </ul>
</div>
