/* 
 * public/partials_base.css
 * Variables and Mixins 
*/

/* ---- public ----- */
$public_accent_color: #386197;
$public_theme_font: Lato, Helvetica, Arial, sans-serif;
$public_line_color: #cccccc;
$solid_box_contents_color: #6e6e6e;
$more_link_size: 15px;
$sidebar_text_size: 14px;
$marquee_text_size: 15px;
$page_title_color: white;