
/* ----- MODALS ----- */

.modal_content { display: none; }
.modal_button { 
  text-align: center;
  cursor: pointer;
  padding: 1px; 
  border: 1px solid #8a8a8a;
  font-family: Garamond, Georgia, serif;
  font-style: italic;
  margin: 0 0 1em 1em;
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #8a8a8a;
}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/m/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

