.is-compact {
  label {
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }

  input {
    margin: 0;
  }

  .private_users,
  .content,
  .submit {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  li {
    margin-bottom: 0;
  }
}

