.thredded--is-compact {

  input[type="submit"],
  label {
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }

  input {
    margin: 0;
  }

  li {
    margin-bottom: 0;

    &:not(.title) {
      height: 0;
      visibility: hidden;
      opacity: 0;
      margin: 0;
    }
  }
}

