.thredded--is-expanded {
  label {
    height: auto;
    margin-bottom: $thredded-small-spacing / 2;
    opacity: 1;
    visibility: visible;
  }

  .private_users,
  .content,
  .submit {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
