.is-in-the-background {
  &::before {
    @include position(absolute, 44px 0 0 0);
    background: black;
    content: "";
    display: block;
    opacity: 0.7;
    z-index: $is-in-the-background-z-index;
  }
}
