
/* ----- MB BOILERPLATE ----- */

/* This file should only modify styles directly from the html5 boilerplate, which we leave intact */

html,
button,
input,
select,
textarea {
  color: #6e6e6e;
}

.browsehappy {
  background: white;
  color: #333;
  padding: 1em;
}