<nav role="navigation" class="main-nav">
  <ul>
    <li class="main-nav-menu"><a href="#">Menu</a></li>
    <li class="main-nav-home"><a href="#">Home</a></li>
    <li class="main-nav-sign-in"><a href="#">Sign In / Register</a></li>
    <li class="main-nav-search"><a href="#">Search</a></li>
  </ul>
</nav>
