<div class="topic-nav">
  <ul>
    <li class="topic-nav-active">
      <%= link_to 'topics', messageboard_topics_path(messageboard) %>
    </li>
    <li>
      <%= link_to messageboard_private_topics_path(messageboard), class: "unread-#{unread_private_topics_count}" do %>
        private topics <span><%= unread_private_topics_count %></span>
      <% end %>
    </li>
  </ul>
</div>
