<nav role="navigation" class="main-nav">
  <ul>
    <li class="main-nav-menu">
      <a href="#">
        <svg viewBox="0 0 32 32"><use xlink:href="#menu"></use></svg>
        <span>Menu</span>
      </a>
    </li>
    <li class="main-nav-home">
      <a href="#">
        <svg viewBox="0 0 32 32"><use xlink:href="#home-2"></use></svg>
        <span>Home</span>
      </a>
    </li>
    <li class="main-nav-sign-in">
      <a href="#">
        <svg viewBox="0 0 32 32"><use xlink:href="#user1"></use></svg>
        <span>Sign In / Register</span>
      </a>
    </li>
    <li class="main-nav-notification-preferences">
      <a href="#">
        <svg viewBox="0 0 32 32"><use xlink:href="#bell"></use></svg>
        <span>Notification Settings</span>
      </a>
    </li>
    <li class="main-nav-search">
      <a href="#search">
        <svg viewBox="0 0 32 32"><use xlink:href="#search1"></use></svg>
        <span>Search</span>
      </a>
    </li>
  </ul>
</nav>
