@import "thredded";

$rep-brand-color: $thredded-brand;
$rep-font-family: $thredded-base-font-family;
$rep-text-color: $thredded-text-color;
$rep-text-color-secondary: $thredded-secondary-text-color;
$rep-gray-lighter: $thredded-light-gray;
@import "rails_email_preview/application";

$dummy-app-bg: $thredded-background-color !default;

$container-padding-x: 4rem;

body {
  margin: 0;
  background: $dummy-app-bg;
}

.thredded--main-container {
  @include thredded-media-tablet-and-up {
    @media (max-width: $thredded-grid-container-max-width + 2 * $container-padding-x) {
      padding: 0.75rem 3.4rem;
    }
  }
}

.thredded--user-navigation {
  margin-top: 0;
}

.app-container {
  border: $thredded-base-border;
  box-sizing: border-box;
  margin: 2rem auto;
  max-width: 884px;
  padding: 2rem $container-padding-x;

  @media (max-width: $thredded-grid-container-max-width + 2 * $container-padding-x) {
    padding: 1.2rem;
    margin: 0;
    border: none;
  }
}

.app-home, .app-container-header {
  font-family: $thredded-base-font-family;
  color: $thredded-text-color;
  a {
    @extend %thredded--link;
  }
}


.app-container-header {
  border-bottom: $thredded-base-border;
  padding-bottom: 1rem;
  margin: 0 -2rem 1rem;

  @media (max-width: $thredded-grid-container-max-width + 2 * $container-padding-x) {
    margin: 0;
    padding-bottom: 0.75rem;
  }
}

.app-nav-logo {
  @extend %thredded--link;
  color: $thredded-text-color;
  text-decoration: none;
  font-weight: bold;
}

.app-nav-theme, .app-nav-locale {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  ul {
    @extend %thredded--list-unstyled;
    display: inline-block;
    li {
      @extend %thredded--link;
      cursor: pointer;
      display: inline-block;
      margin-left: 0.3rem;
      &.app-current {
        color: $thredded-text-color;
        font-weight: bold;
      }
    }
  }
  @include thredded-media-tablet-and-up {
    margin-left: 1.1rem;
    margin-top: 0;
  }
}

.app-nav-auth {
  float: right;

  @include thredded-media-mobile {
    font-size: 0;

    a {
      margin-left: 0.4rem;
      font-size: 1rem;
    }
  }
}

.app-home {
  font-size: 1rem;
  line-height: $thredded-base-line-height;
  padding-top: 0;

  .demo-lead {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1rem;
    @media (min-width: 0.00001rem + $thredded-grid-container-max-width + 2 * $container-padding-x) {
      margin-top: 0;
    }
  }

  a {
    font-weight: bold;
  }

  section {
    margin-top: 1rem;
  }

  hr {
    @extend %thredded--hr;
    margin: 1rem 0;
  }

  footer {
    border-top: $thredded-base-border;
  }
}
