@import "thredded";

$rep-brand-color: $thredded-brand;
$rep-font-family: $thredded-base-font-family;
$rep-text-color: $thredded-text-color;
$rep-text-color-secondary: $thredded-secondary-text-color;
$rep-gray-lighter: $thredded-light-gray;
@import "rails_email_preview/application";

$dummy-app-bg: $thredded-background-color !default;

body {
  margin: 0;
  background: $dummy-app-bg;
}

.thredded--main-container {
  @include thredded-media-mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.thredded--user-navigation {
  margin-top: 0;
}

.app-container {
  border: $thredded-base-border;
  box-sizing: border-box;
  margin: 2em auto;
  max-width: 884px;
  padding: 2em 4em;

  @media (max-width: $thredded-grid-container-max-width) {
    padding: 2em;
    margin: 0;
    border: none;
  }
}

.app-home, .app-container-header {
  font-family: $thredded-base-font-family;
  color: $thredded-text-color;
  a {
    @extend %thredded--link;
  }
}


.app-container-header {
  border-bottom: $thredded-base-border;
  padding-bottom: 1em;
  margin: 0em -2em 1em;

  @include thredded-media-mobile {
    margin: -1em -1.5em 0.6em;
  }
}

.app-nav-logo {
  @extend %thredded--link;
  color: $thredded-text-color;
  text-decoration: none;
  font-weight: bold;
}

.app-nav-theme {
  display: block;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  ul {
    @extend %thredded--list-unstyled;
    display: inline-block;
    li {
      @extend %thredded--link;
      cursor: pointer;
      display: inline-block;
      margin-left: 0.5rem;
      &.app-current-theme {
        color: $thredded-text-color;
        font-weight: bold;
      }
    }
  }
  @include thredded-media-tablet-and-up {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 0;
  }
}

.app-nav-auth {
  float: right;

  @include thredded-media-mobile {
    font-size: 0;

    a {
      font-size: 1rem;
    }
  }
}

.app-home {
  font-size: 16px;
  line-height: $thredded-base-line-height;

  .demo-lead {
    display: block;
    font-size: 32px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
  }

  section {
    margin-top: 2rem;

    a {
      font-weight: bold;
    }
  }
}
