$rep-brand-color: $thredded-brand;
$rep-font-family: $thredded-base-font-family;
$rep-text-color: $thredded-text-color;
$rep-text-color-secondary: $thredded-secondary-text-color;
$rep-gray-lighter: $thredded-light-gray;
@import "rails_email_preview/application";
