@import "thredded/base/variables";

$app-bg: $thredded-background-color !default;
$brand-primary: $thredded-brand  !default;
$text-color: $thredded-text-color !default;
$base-font-family: $thredded-base-font-family !default;
$base-font-size: $thredded-base-font-size !default;
$base-line-height: $thredded-base-line-height !default;
$grid-container-max-width: $thredded-grid-container-max-width !default;
