/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1, h2, h3 {
  font-family: 'Arvo', Georgia, Times, serif;
}

h1 {
  font-size: 45px;
  line-height: 55px;
}

h2 {
  font-size: 37px;
  line-height: 45px;
}

h2 {
  font-size: 29px;
  line-height: 35px;
}

* {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.default {
  background: #d8d8d8;
}

.container {
  background: white;
  padding: 2em;
  border-right: solid 2px #a5a8ac;
  border-bottom: solid 3px #a5a8ac;
  margin: 2em auto;
  width: 520px;
}

.container-header {
  border-bottom: solid 1px #d8d8d8;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
