/*
 *= require thredded
 *= require ./typography
 *= require_self
 */

.thredded--main-container {
  max-width: none;
  padding: 0;
}

.thredded--user-navigation {
  margin-top: 0.75rem;
}

.app-container {
  background: white;
  padding: 2em 4em;
  border-right: solid 2px #a5a8ac;
  border-bottom: solid 3px #a5a8ac;
  margin: 2em auto;
  max-width: 55em;
}

.app-container-header {
  border-bottom: solid 1px #d8d8d8;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.app-nav-logo {
  color: #111;
  font-size: 1.4em;
  font-weight: bold;
}

.app-nav-auth {
  float: right;
}

@media (max-width: 45em) {
  .app-container {
    padding: 2em;
    margin: 0;
  }
}
