&--main-container {
  @include thredded--clearfix;
  -webkit-font-smoothing: antialiased;
  color: $thredded-base-font-color;
  font-family: $thredded-base-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-base-line-height;
  margin: 0 auto;
  max-width: $thredded-grid-container-max-width;
  padding: 1rem;

  @include thredded-media-tablet-and-up {
    padding: 2rem;
  }
}
