&--main-navigation {
  @extend %thredded--list-unstyled;
  @include thredded--clearfix;
  border-bottom: $thredded-base-border;
  display: block;
  margin: $thredded-small-spacing 0;
}

&--navigation-breadcrumbs {
  @extend %thredded--list-unstyled;
  margin-bottom: $thredded-small-spacing;

  @include thredded-media-tablet-and-up {
    float: left;
    margin-bottom: 0;
    padding-bottom: $thredded-small-spacing;
  }

  li {
    display: inline-block;

    &:after {
      background: image-url("thredded/breadcrumb-chevron.svg") no-repeat center center;
      content: "";
      display: inline-block;
      height: 10px;
      margin: 0 $thredded-small-spacing;
      width: 6px;
    }

    &:last-child:after {
      display: none;
    }
  }

  a {
    color: $thredded-base-font-color;
    font-weight: bold;

    &:hover {
      color: $thredded-action-color;
    }
  }
}
