&--main-container {
  @include thredded--clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: $thredded-grid-container-max-width;
  padding: 1rem;

  @include thredded-media-tablet-and-up {
    padding: 2rem;
  }
}
