&--topic-navigation {
  @extend %thredded--list-unstyled;
  margin-bottom: 0;
  text-align: right;

  @include thredded-media-tablet-and-up {
    float: right;
  }

  li {
    display: inline-block;
    margin-right: $thredded-base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend %thredded--nav-link;
    display: block;
    padding-bottom: $thredded-small-spacing;
  }
}

.thredded--new-topic &--topic-navigation--public,
.thredded--topics-index &--topic-navigation--public,
.thredded--new-private-topic &--topic-navigation--private,
.thredded--private-topics-index &--topic-navigation--private {
  border-bottom: 1px solid $thredded-action-color;
  margin-bottom: -2px;

  a {
    @extend %thredded--nav-link-current;
  }
}

&--topic-navigation--unread {
  background: $thredded-badge-active-background;
  border-radius: 10px;
  color: $thredded-badge-active-color;
  font-size: 0.75rem; // 12px
  line-height: 1;
  margin-left: $thredded-small-spacing;
  padding: 2px 6px;
}
