.thredded--user--avatar {
  border-radius: 50%;
  display: inline-block;
  height: 1.75em;
  width: 1.75em;
  margin-right: $thredded-inline-spacing;
  vertical-align: baseline;
  position: relative;
  top: 0.5em;
}
