.thredded--user-navigation {
  @extend %thredded--nav-tabs;
  display: flex;
  justify-content: flex-end;
  @media print {
    display: none;
  }
}

.thredded--user-navigation--item {
  @extend %thredded--nav-tabs--item;

  &.thredded--is-current {
    @extend %thredded--nav-tabs--item-current;
  }
}

.thredded--user-navigation--private-topics--unread,
.thredded--user-navigation--moderation--pending-count,
.thredded--user-navigation--unread-topics--followed-count {
  @extend %thredded--nav-tabs--item--badge;
}
.thredded--unread-topics--followed-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  top: 0.1em;
  position: relative;
  @include thredded-media-tablet-and-down {
    display: none;
  }
}
