&--user-navigation {
  @include clearfix;
  font-size: em(14);
  margin-bottom: 1rem;
  text-align: center;

  @include media(rem(600)) {
    margin-bottom: 0;
    margin-top: $large-spacing;
    text-align: left;
  }

  a {
    color: lighten($base-font-color, 30%);
  }
}

&--user-navigation--actions {
  float: left;
  padding: $small-spacing 0;

  li {
    display: inline-block;
    margin-right: $base-spacing;

    &:last-child {
      margin-right: 0;
    }
  }
}

&--user-navigation--search {
  @include media(max-width rem(600)) {
    margin-bottom: 0.5rem;
  }

  label {
    display: none;
  }

  input[type="search"] {
    @include transition();
    box-shadow: none;
    font-size: rem(14);
    width: 100%;

    @include media(rem(600)) {
      border-color: transparent;
      float: right;
      min-width: em(200, 14);
      margin-right: -$base-spacing;
      text-align: right;
      width: auto;

      &:focus {
        @include transition();
        min-width: em(290, 14);
        text-align: left;
        margin-right: 0;
      }
    }

    &:hover {
      @include placeholder {
        color: $action-color;
      }
    }

    &:focus {
      border-color: $base-border-color;
    }
  }

  input[type="submit"] {
    display: none;
  }
}
