<aside class="currently-online">
  <header>
    <h3 class="currently-online--title open">Currently Online</h3>
  </header>

  <ul class="currently-online--users">
    <% active_users.each do |user| %>
      <li class="currently-online--user">
        <img src="" alt="" class="currently-online--avatar" />
        <%= user %>
      </li>
    <% end %>
  </ul>
</aside>
