<nav role="navigation" class="user-navigation">
  <ul>
    <!-- if logged in -->
    <li class="">
      <a href="#">
        <!-- <svg viewBox="0 0 32 32"><use xlink:href="#user1"></use></svg> -->
        <span>Sign In / Register</span>
      </a>
    </li>

    <!-- if not logged in -->
    <!-- <li class="main&#45;nav&#45;notification&#45;preferences"> -->
    <!--   <a href="#"> -->
    <!--     <!&#45;&#45; <svg viewBox="0 0 32 32"><use xlink:href="#bell"></use></svg> &#45;&#45;> -->
    <!--     <span>Notification Settings</span> -->
    <!--   </a> -->
    <!-- </li> -->
    <!--  -->
    <!-- <li class="main&#45;nav&#45;notification&#45;preferences"> -->
    <!--   <a href="#"> -->
    <!--     <!&#45;&#45; <svg viewBox="0 0 32 32"><use xlink:href="#bell"></use></svg> &#45;&#45;> -->
    <!--     <span>UserName</span> -->
    <!--   </a> -->
    <!-- </li> -->

    <!-- always -->
    <li class="main-nav-search">
      <a href="#search">
        <!-- <svg viewBox="0 0 32 32"><use xlink:href="#search1"></use></svg> -->
        <span>Search</span>
      </a>
    </li>
  </ul>
</nav>
