<% if Thredded.show_topic_followers %>
  <div class="thredded--topic-followers">
    <% if topic.followers.present? %>
      <%= t('thredded.topics.followed_by')%>
      <% topic.followers.each do |user| %>
        <%= user_mention(user) %>
      <% end %>
    <% else %>
      <%= t('thredded.topics.followed_by_noone')%>
    <% end %>
  </div>
<% end %>
