<% if Thredded.show_following_users_in_topic %>
  <div class="thredded--topic-followers">
    <% if topic.followers.present? %>
      Following:
      <% topic.followers.each do |user| %>
        <%= "@#{user}" %>
      <% end %>
    <% else %>
      No one is following this topic
    <% end %>
  </div>
<% end %>
