<li class="title">
  <%= form.label :title %>
  <%= form.text_field :title, { placeholder: 'Title', autofocus: 'autofocus', } %>
</li>

<%= render 'topic_form', form: form, messageboard: messageboard %>
