<% content_for :thredded_page_title, t('thredded.topics.create') %>
<% content_for :thredded_page_id, 'thredded--new-topic' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'thredded/topics/form',
               topic: @new_topic,
               css_class: 'thredded--is-expanded',
               placeholder: t('thredded.topics.form.title_placeholder_start') %>
  </section>
<% end %>
