<% content_for :thredded_page_title, 'Topics Search Results' %>
<% content_for :thredded_page_id, 'thredded--topic-search-results' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/messageboard_topics_breadcrumbs') %>

<%= thredded_page do %>
  <section class="thredded--main-section thredded--topics">
    <%= render @decorated_topics %>
  </section>
<% end %>
