#{$all-buttons} {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: $thredded-action-color;
  border-radius: $thredded-base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $thredded-base-font-family;
  font-size: 0.875rem; // 14px
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($thredded-action-color, 15%);
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 3px $thredded-action-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $thredded-action-color;
    }
  }
}
