%thredded--heading {
  font-family: $thredded-heading-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-heading-line-height;
  margin: 0 0 $thredded-small-spacing;
}

%thredded--link {
  color: $thredded-action-color;
  text-decoration: none;
  transition: $thredded-action-transition;

  &:active,
  &:focus,
  &:hover {
    color: $thredded-action-hover-color;
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

%thredded--hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: $thredded-base-border;
  margin: $thredded-base-spacing 0;
}

%thredded--paragraph {
  margin: 0 0 $thredded-small-spacing;
}

%thredded--icon {
  fill: currentColor;
}

%thredded--quote {
  margin: 0 0 0.75rem;
  border-left: solid 5px $thredded-quote-border-color;
  padding: 1rem;

  p:last-of-type {
    margin-bottom: 0;
  }
}
