%thredded--heading {
  font-family: $thredded-heading-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-heading-line-height;
  margin: 0 0 $thredded-small-spacing;
}

%thredded--link {
  color: $thredded-action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($thredded-action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

%thredded--hr {
  border-bottom: $thredded-base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $thredded-base-spacing 0;
}

%thredded--paragraph {
  margin: 0 0 $thredded-small-spacing;
}

