.thredded--main-container {
  -webkit-font-smoothing: antialiased;
  color: $thredded-base-font-color;
  font-family: $thredded-base-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-base-line-height;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $thredded-heading-font-family;
  font-size: $thredded-base-font-size;
  line-height: $thredded-heading-line-height;
  margin: 0 0 $thredded-small-spacing;
}

p {
  margin: 0 0 $thredded-small-spacing;
}

a {
  color: $thredded-action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($thredded-action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $thredded-base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $thredded-base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
