// Grid
$thredded-grid-container-max-width: 43.125rem !default;
$thredded-grid-breakpoint-max-widths: (mobile: 34rem, tablet: 48rem) !default;

// Typography
$thredded-base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$thredded-base-font-size: 1rem !default; // 16px
$thredded-font-size-small: 0.875rem !default; // 14px
$thredded-base-line-height: 1.5 !default;
$thredded-heading-font-family: inherit !default;
$thredded-heading-line-height: 1.2 !default;

// Spacings
$thredded-large-spacing: $thredded-base-line-height * 2rem !default;
$thredded-base-spacing: $thredded-base-line-height * 1rem !default;
$thredded-small-spacing: $thredded-base-spacing / 2 !default;
$thredded-inline-spacing: 0.4375em !default;

// Named colors
$thredded-brand: #4a90e2 !default;
$thredded-dark-gray: #333 !default;
$thredded-light-gray: #eee !default;

// Colors of text, background, actions (links), and navigation
$thredded-text-color: rgba(black, 0.87) !default;
$thredded-secondary-text-color: rgba(opacify($thredded-text-color, 1), 0.54) !default;
$thredded-background-color: #fff !default;
$thredded-action-color: $thredded-brand !default;
$thredded-action-hover-color: darken($thredded-action-color, 15%) !default;
$thredded-action-transition: color 0.1s linear !default;
$thredded-nav-color: $thredded-text-color !default;
$thredded-nav-hover-color: $thredded-action-color !default;
$thredded-nav-current-color: $thredded-action-color !default;
$thredded-overlay-background-color: $thredded-background-color !default;
$thredded-secondary-nav-color: $thredded-secondary-text-color !default;
$thredded-spoiler-hidden-color: $thredded-light-gray !default;
$thredded-spoiler-shown-color: black !default;


// Colors of alerts and flash messages
$thredded-alert-danger-background: #fbe3e4 !default;
$thredded-alert-danger-color: #a94442 !default;
$thredded-alert-info-background: #e6f3fa !default;
$thredded-alert-info-color: darken($thredded-brand, 15%) !default;
$thredded-alert-success-background: #e6efc2 !default;
$thredded-alert-success-color: #3c763d !default;
$thredded-alert-warning-background: #fcf8e3 !default;
$thredded-alert-warning-color: #8a6d3b !default;

// Borders
$thredded-base-border-color: $thredded-light-gray !default;
$thredded-base-border: 1px solid $thredded-base-border-color !default;
$thredded-blockquote-border-color: $thredded-light-gray !default;

// Form inputs
$thredded-form-background: $thredded-background-color !default;
$thredded-form-border-color: darken($thredded-base-border-color, 5%) !default;
$thredded-form-border-hover-color: darken($thredded-form-border-color, 6.4%) !default;
$thredded-form-border-focus-color: $thredded-action-color !default;
$thredded-form-border: 1px solid $thredded-form-border-color !default;
$thredded-form-box-shadow: inset 0 1px 3px rgba(#000, 0.06) !default;
$thredded-form-color: $thredded-text-color !default;

// Buttons
$thredded-button-background: $thredded-action-color !default;
$thredded-button-color: #fff !default;
$thredded-button-hover-background: darken($thredded-button-background, 15%) !default;
$thredded-button-hover-color: $thredded-button-color !default;

$thredded-button-light-background: lighten($thredded-button-background, 35%) !default;
$thredded-button-light-color: darken($thredded-button-background, 15%) !default;
$thredded-button-light-hover-background: darken($thredded-button-light-background, 15%) !default;
$thredded-button-light-hover-color: darken($thredded-button-light-color, 15%) !default;


$thredded-button-border-radius: 3px !default;
$thredded-button-font-family: $thredded-base-font-family !default;
$thredded-button-font-size: $thredded-font-size-small !default;
$thredded-button-font-weight: 600 !default;
$thredded-button-line-height: 1 !default;

// Badges (unread count, posts count)
$thredded-badge-active-color: $thredded-button-color !default;
$thredded-badge-active-background: $thredded-action-color !default;
$thredded-badge-inactive-color: $thredded-button-color !default;
$thredded-badge-inactive-background: rgba($thredded-text-color, 0.3) !default;

// Layout features
// Whether to display messageboards as a grid on the desktop screen sizes.
$thredded-messageboards-grid: true !default;
// Minimum width of a grid item
$thredded-messageboards-grid-item-flex-basis: map-get($thredded-grid-breakpoint-max-widths, tablet) / 3 !default;
