// Grid

$thredded-grid-container-max-width: 720px !default;
$thredded-grid-breakpoint-max-widths: (mobile: 400px, tablet: 600px) !default;

// Typography
$thredded-base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$thredded-heading-font-family: inherit !default;

// Font Sizes
$thredded-base-font-size: 1rem !default;

// Line height
$thredded-base-line-height: 1.5 !default;
$thredded-heading-line-height: 1.2 !default;

// Other Sizes
$thredded-base-border-radius: 3px !default;
$thredded-large-spacing: $thredded-base-line-height * 2rem !default;
$thredded-base-spacing: $thredded-base-line-height * 1rem !default;
$thredded-small-spacing: $thredded-base-spacing / 2 !default;

// Colors
$thredded-brand: #4a90e2 !default;
$thredded-dark-gray: #333 !default;
$thredded-light-gray: #eee !default;

// Font Colors
$thredded-base-background-color: #fff !default;
$thredded-base-font-color: #575d6b !default;
$thredded-action-color: $thredded-brand !default;

// Alerts and flash messages
$thredded-alert-danger-color: #a94442 !default;
$thredded-alert-info-color: darken($thredded-brand, 15%) !default;
$thredded-alert-success-color: #3c763d !default;
$thredded-alert-warning-color: #8a6d3b !default;

$thredded-alert-danger-background: #fbe3e4 !default;
$thredded-alert-info-background: #e6f3fa !default;
$thredded-alert-success-background: #e6efc2 !default;
$thredded-alert-warning-background: #fcf8e3 !default;

// Border
$thredded-base-border-color: $thredded-light-gray !default;
$thredded-base-border: 1px solid $thredded-base-border-color !default;

// Forms
$thredded-form-border: 1px solid darken($thredded-base-border-color, 5%) !default;
$thredded-form-box-shadow: inset 0 1px 3px rgba(#000, 0.06) !default;

// Buttons
$thredded-all-text-inputs: (
        "[type='color']", "[type='date']", "[type='datetime']", "[type='datetime-local']",
        "[type='email']", "[type='month']", "[type='number']", "[type='password']", "[type='search']", "[type='tel']",
        "[type='text']", "[type='time']", "[type='url']", "[type='week']", 'input:not([type])',
        textarea) !default;
