<%= @post.filtered_content(self) %>

<hr />

<p>
  This email was sent to you because <%= @post.user %> mentioned you in
  "<%= link_to @post.postable.title, post_url(@post) %>".
  <%= link_to 'View the conversation here.', topic_url(@post.postable) %>
</p>

<% # TODO: implement global notification preferences for private topics. %>
