// Typography
$base-font-family: "Lato", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$large-spacing: $base-line-height * 2rem;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$is-in-the-background-z-index: $base-z-index + 99;

// Colors
$blue: #4a90e2;
$dark-blue: #575d6b;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #eee;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-blue;
$action-color: $blue;

// Flash Colors
$flash-font-success-color: #56651a;
$flash-font-error-color: #96151b;
$flash-font-notice-color: $blue;
$flash-font-alert-color: #8c7800;

$flash-background-success-color: #e6efc2;
$flash-background-error-color: #fbe3e4;
$flash-background-notice-color: $light-gray;
$flash-background-alert-color: #fff6bf;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border: 1px solid darken($base-border-color, 5%);
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
