<%= form_tag users_moderation_path,
             method: 'get',
             class: 'thredded--form thredded--navigation--search thredded--navigation--search--right',
             'data-thredded-turboform' => true do %>
  <%= label_tag :q, t('thredded.moderation.search_users.form_label') %>
  <%= text_field_tag :q, @query,
                     type:        'search',
                     required:    true,
                     # If there are no results the user will likely want to change the query, so auto-focus.
                     autofocus:   @query.presence && !@users.presence,
                     placeholder: t('thredded.moderation.search_users.form_placeholder') %>
  <button type="submit"><%= t 'thredded.search.form.btn_submit' %></button>
<% end %>
