<% content_for :thredded_page_title,
               safe_join([t('thredded.nav.moderation'), t('thredded.nav.moderation_history')], ': ') %>
<% content_for :thredded_page_id, 'thredded--moderation-history' %>
<%= render 'nav' %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <% if @post_moderation_records.present? %>
      <%= render_post_moderation_records @post_moderation_records %>
      <%= paginate @post_moderation_records %>
    <% end %>
  </section>
<% end %>
