<%= form_for [messageboard, topic, post] do |form| %>
  <ul>
    <%= render 'thredded/posts/content_field', form: form %>

    <li class="submit">
      <%= form.submit button_text, class: 'button-wide' %>
    </li>
  </ul>
<% end %>
