<% content_for :thredded_page_title, 'Edit Post' %>
<% content_for :thredded_page_id, 'thredded_edit_post' %>

<header>
  <nav>
    <ul class="breadcrumbs">
      <li><%= link_to 'Forums', thredded.root_path %></li>
      <li><%= link_to messageboard.name,
        messageboard_topic_posts_path(messageboard, topic) %></li>
      <li>
        <span>
          Editing Post - <%= link_to "##{@post.id}",
          messageboard_topic_posts_path(messageboard, topic) + "#post_#{@post.id}" %>
        </span>
      </li>
    </ul>
  </nav>
</header>

<div class="topic forms">
  <%= render 'thredded/posts/form', messageboard: messageboard, topic: topic, post: @post, button_text: 'Update Post' %>
</div>
