<% content_for :thredded_page_title, 'Edit Post' %>
<% content_for :thredded_page_id, 'thredded--edit-post' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li>Edit Post</li>
  </ul>
<% end %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'thredded/posts/form',
               messageboard: messageboard,
               topic:        topic,
               post:         @post,
               button_text:  'Update Post' %>
  </section>
<% end %>
