<% content_for :thredded_page_title, 'Edit Post' %>
<% content_for :thredded_page_id, 'thredded--edit-post' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li><%= link_to t('thredded.nav.edit_post'), edit_post_path(@post) %></li>
  </ul>
<% end %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'thredded/posts/form',
               messageboard: messageboard,
               topic:        topic,
               post:         @post,
               button_text:  t('thredded.posts.form.update_btn'),
               button_submitting_text: t('thredded.posts.form.update_btn_submitting')%>
  </section>
<% end %>
