<div class="empty">
  <h3 class="empty--title">You have no private topics.</h3>
  <%= link_to 'Create your first private topic', new_messageboard_private_topic_path(messageboard), class: "button" %>
</div>
