<% content_for :thredded_page_title, @message %>
<% content_for :thredded_page_id, 'thredded--error-forbidden' %>
<% content_for :thredded_breadcrumbs, render('thredded/shared/breadcrumbs') %>
<%= thredded_page do %>
  <p class="thredded--alert thredded--alert-warning"><%= @message %></p>
<% end %>
