<li class="thredded--user-navigation--settings thredded--user-navigation--item">
  <%= link_to edit_preferences_path(messageboard) do %>
    <%= inline_svg 'thredded/settings.svg', class: 'thredded--icon' %>
    <%= t('thredded.nav.settings') %>
<% end %>
</li>
