<li class="thredded--user-navigation--settings thredded--user-navigation--item">
  <%= link_to edit_preferences_path(messageboard) do %>
    <%= inline_svg 'thredded/settings.svg', class: 'thredded--icon', title: t('thredded.nav.settings') %>
    <span class="thredded--nav-text"><%= t('thredded.nav.settings') %></span>
<% end %>
</li>
