<li class="thredded--user-navigation--item thredded--user-navigation--private-topics">
  <%= link_to private_topics_path, rel: 'nofollow' do %>
    <%= inline_svg 'thredded/private-messages.svg',
                   class: 'thredded--icon',
                   title: t('thredded.nav.private_topics') %>
    <span class="thredded--nav-text"><%= t('thredded.nav.private_topics') %></span>
    <% if unread_private_topics_count > 0 -%>
      <span class="thredded--user-navigation--private-topics--unread"><%= unread_private_topics_count %></span>
    <% end -%>
  <% end -%>
</li>
