<li class="thredded--user-navigation--standalone--session thredded--user-navigation--item">
  <% resource_name = Thredded.user_class_name.underscore %>
  <% if thredded_signed_in? %>
    <%= link_to main_app.send(:"destroy_#{resource_name}_session_path"), method: :delete do %>
      Sign Out
    <% end %>
  <% else %>
    <%= link_to main_app.send(:"new_#{resource_name}_session_path") do %>
      Sign In / Register
    <% end %>
  <% end %>
</li>
