<header class="topic-header">
  <h1 class="topic-header--title"><%= topic.title %></h1>
  <cite class="topic-header--started-by">
    Started <%= time_ago topic.created_at %> by <%= user_link topic.user %>
  </cite>
</header>
