<li class="title">
  <%= form.label :title %>
  <%= form.text_field :title, { placeholder: 'Title', autofocus: 'autofocus' } %>
</li>

<li class="private_users">
  <%= form.select :user_id, messageboard.users_options,
    { selected: form.object.users.map(&:id) },
    {
      multiple: true,
      'data-placeholder' => 'select users to participate in this topic', 
    } %>
</li>

<%= render 'thredded/topics/topic_form', form: form, messageboard: messageboard %>
