<header class="thredded--topic-header">
  <h1 class="thredded--topic-header--title"><%= topic.title %></h1>
  <cite class="thredded--topic-header--started-by">
    <%= t 'thredded.topics.started_by_html',
          time_ago: time_ago(topic.created_at),
          user:     user_link(topic.user) %>
  </cite>
  <% if policy(topic).update? %>
    <%= link_to t('thredded.private_topics.edit'), edit_private_topic_path(topic.slug),
                class: 'thredded--topic-header--edit-topic' %>
  <% end %>
</header>
