<div class="thredded--empty">
  <h3 class="thredded--empty--title">You have no private topics.</h3>
  <a class="thredded--button" href="<%= new_private_topic_path(messageboard) %>">
    Create your first private topic
  </a>
</div>
