<div class="thredded--empty">
  <h3 class="thredded--empty--title"><%= t 'thredded.private_topics.no_private_topics.title' %></h3>
  <a class="thredded--button" href="<%= new_private_topic_path %>">
    <%= t 'thredded.private_topics.no_private_topics.create_btn' %>
  </a>
</div>
