<% content_for :thredded_page_title, t('thredded.private_topics.create') %>
<% content_for :thredded_page_id, 'thredded--new-private-topic' %>
<% content_for :thredded_breadcrumbs, render('thredded/private_topics/breadcrumbs') %>

<%= thredded_page do %>
  <section class="thredded--main-section">
    <%= render 'thredded/private_topics/form',
               private_topic: @private_topic,
               placeholder:   t('thredded.private_topics.form.title_placeholder_new') if @private_topic %>
  </section>
<% end %>
