<!DOCTYPE html>
<html>
  <head>
    <title>Thredded | <%= yield :thredded_page_title %></title>
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= yield :thredded_page_id %>" class="layout-application">
    <header>
      <nav>
        <h1><a href="/">Thredded</a></h1>
      </nav>
    </header>

    <section id="content">
      <%= yield %>
    </section>
  </body>
</html>
